<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
	<connectionStrings>
		<add name="EmployeeDB"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=EmployeeManagementDB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ApplicationName" value="Employee Management System"/>
    <add key="Version" value="1.0.0"/>
    <add key="BackupPath" value="C:\EMS_Backups\"/>
    <add key="SessionTimeout" value="30"/>
  </appSettings>
</configuration>